* {margin: 0px; padding: 0px;}

div.imgSmallBox {
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 450px;

    font-size: 0px;
}

div.imgSmallBox ul {
    list-style: none;
}

div.imgSmallBox li {
    display: inline-block;
}
/*  */
/*  */
/*  */
/*  */
/*  */
div.imgPopUp {
    width: 100%;
    height: 100%;
    
    background: rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 0;
    left: 0;

    display: none;
}

div.imgPopUp img{
    width: 50%;
    height: 70%;

    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}