* {margin: 0; padding: 0;}

div#smallImgBox {
    width: 450px;
    margin: auto;
}

div#smallImgBox ul {
    list-style: none;
}

div#smallImgBox li {
    display: inline-block;
}

div#incImgBox {
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 0;
    left: 0;

    display: none;
}

div#incImgBox img {

    transform: translate(25%, 25%);
}