.fidv {
    border: 1px solid red;
    width: 90%;
    margin: auto;
}

img {
    padding: 10px;
 
    /*border: 1px solid red;*/ /* 디버깅 목적으로 추가 */
    
    margin: 20px;
    width: 150px;
    height: 150px;
}

img.shadow1 {
    box-shadow: 10px 10px 10px black; /* 오른쪽이동, 아래로이동, 번짐정도 */
}

img.shadow2 {
    box-shadow: 10px -10px 30px black;
}

img.shadow3 {
    box-shadow: 10px 10px 10px black;
}