* {
    /* 모든 태그에는 margin 과 padding의 기본값이 들어가 있다. */
    padding: 0;
    margin: 0;
}

/* 기본적인 태그의 margin, padding을 확인 */
body {
    border: 1px solid red;
}

/* li {
    border: 1px solid blue;
    padding: 10px;
    margin: 10px;
} */

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 14px;
}

.menu {
    width: 800px;

    /* 중앙에 정렬 */
    margin: 150px auto;
    border: 1px solid red;

    overflow: hidden;
}

.menu > li {
    /* 20% * 5 = 100% = 800px */
    width: 20%;

    border-radius: 25px;

    float: left;

    text-align: center;
    /* 라인과 라인의 간격 */
    line-height: 40px;

    background-color: #5778ff;
}

.menu a {
    color: white;
}

.menu>li:hover {
    background-color: #94a9ff;
    transition: 0.5s;
}

.menu>li:hover .submenu {
    height: 250px;

    transition: 1s;
}

/* 기본 출력시 submenu는 화면에서 출력되면 안된다. */
.submenu {
    /* 높이가 0 이므로 출력되지 않음 */
    height: 0;
    /* display: none;  /* 화면에 출력되지 않도록 한다 */
    /* visibility: visible; */
    /* overflow: hidden; 범위를 벗어나는 부분은 보이지 않도록 처리 */
}

.submenu>li {
    line-height: 50px;

    background-color: #94a9ff;
}